/* Main CSS */

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');


/* リセット */
* { padding-inline-start: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }


/* カラーコードの定義 */
:root {
  --font-color: #fef4f4;
  --background-color: rgb(13, 16, 29);
  --background-for-code-color: black;
  --background-for-text-color: rgb(12, 7, 24);
  --link-color: #84a2d4;
  --link-visited-color: #698aab;
  --menu-link-visited-color: var(--link-color);
}


/* 一般 */
body {
  padding: 0; margin: 0;
  font-family: Yomogi, Monaco, Arial;
  color: var(--font-color);
  background-color: var(--background-color);
  background-size: 10%;
  list-style-position: inside;
}
ul { padding-inline-start: 1%; }
:root { color-scheme: dark; }

.container { margin: 3vh 2vw; }
.background-for-text {
  /* 文章の後ろに黒い背景を入れる */
  background-color: var(--background-for-text-color);
  margin: 0 2%;
  border-radius: 15px;
  padding: 0.8vw 1.5vw;
}


/* メニュー */
#title { font-weight: bold; text-align: center; }
nav { padding: 0.2%; }
nav ul { margin: 1%; list-style: none; }

/*  内容部分 */
code {
  /* ソースコードのハイライトの背景 */
  background-color: var(--background-for-code-color);
  border-radius: 0.4vh;
  padding: 0.1vh 0.5vw;
  margin: 0.2vw;
  font-family: 'Source Code Pro', monospace;
}

/* ウェブページの一番上の`Last updated`の右寄せ等 */
.text-left, .text-right { display: inline-block; }
.text-right { text-align: right; }
.text-left { margin-right: auto; }
.frame { display: flex; }

/* 画像サイズを適切なものにする。 */
img { max-width: 100%; height: auto; }

/* リンクの色等を変更する。 */
a { font-weight: bold; text-decoration: none; }
a:link { color: var(--link-color); }
a:visited { color: var(--link-visited-color); }
nav ul a:visited { color: var(--menu-link-visited-color); }


/* レスポンシブ */
@media screen and (max-width: 959px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  #title { font-size: 9.5vw; }
  nav ul { font-size: 6vw; }
  .content { font-size: 4.4vw; }
  .background-for-text { margin: 0.4vh 0; padding: 1vh 2vw; }
  code { margin: 0.5vw; }
  pre code.hljs { padding: 0.9vh 2vw; font-size: 3.55vw; }

  #datetime { font-size: 4vw; }
  #back { margin-top: auto; margin-bottom: auto; }

  .pc-only { display: none; }
}

@media screen and (min-width: 960px) {
  /* タブレット,PC向け */
  .container {
    display: flex;
    justify-content: space-between;
  }
  pre code.hljs { padding: 1vh 0.8vw; }

  .sp-only { display: none; }
}

@media screen and (min-width: 960px) and (max-width: 1678px) {
  /* タブレット向け */
  #title { font-size: 2.2vw; }
  nav { width: 25%; }
  nav ul { font-size: 1.8vw; }
  .content { width: 75%; font-size: 1.2vw; }

  code { padding: 0.1vh 0.35vw; }
  pre code.hljs { padding: 1.5vw; font-size: 1vw; }
}

@media screen and (min-width: 1679px) {
  /* PC向け */
  .container { width: 80%; margin: 3vh auto; }
  #title { font-size: 1.55vw; }
  nav { width: 20%; }
  nav ul { font-size: 1.35vw; }
  .content { width: 80%; font-size: 0.9vw; }

  code { padding: 0 0.3vw; margin: 0.1vw; }
  pre code.hljs { padding: 1.5vh; font-size: 0.8vw; }
}

.hashtag { padding-right: 0.5em; }
