{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="/brython/brython.js"></script>
<script type="text/javascript" src="/brython/brython_stdlib.js"></script>
{% endblock %}
{% block content %}
<div align="left" class="main">
  <font size="5">        
    <body onload="brython()">
      <br>
      <a href="/service.html">戻る</a>
      <hr></hr>
      <h2>Reprypt 暗号メーカー</h2>
      ここはRepryptというtasurenが考えた暗号化方法を使って暗号を作成するためのページです。<br>
      また、PythonとRustのプログラミング言語には、このRepryptの暗号方法を使って暗号を作成するためのライブラリがあります。
      <br><br>
      <script type="text/python">
      # Reprypt on Brython

      from browser import document
      import reprypt

      def process(event, mode, id_, write):
          document[write].value = getattr(reprypt, mode)(
              document[id_].value, document["repryptKey"].value
          )

      document["repryptEncrypt"].bind(
          "click", lambda event: process(
              event, "encrypt", "repryptEncryption", "repryptDecryption"
          )
      )
      document["repryptDecrypt"].bind(
          "click", lambda event: process(
              event, "decrypt", "repryptDecryption", "repryptEncryption"
          )
      )
      </script>
      <textarea maxlength=8500 rows=3 cols=30 wrap="hard" id="repryptEncryption">暗号化する文章</textarea>
      <textarea maxlength=13400 rows=3 cols=30 wrap="hard" id="repryptDecryption">暗号化された文章</textarea><br />
      <input maxlength=30 id="repryptKey" value="パスワード" />
      <button type="button" id="repryptEncrypt">暗号化</button>
      <button type="button" id="repryptDecrypt">複合化</button>
      <br><br>
      ※ちなみに、このWebページで動いているRepryptは、Pythonのライブラリの`reprypt`を使用しており、Brythonを使って動かしています。
    </body>
  </font>
</div>
{% endblock %}