{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/tech/human), *人間をリバースエンジニアリング 2021/12/25の記録*
* * *
# 概要
人間をリバースエンジニアリングとは人間がどのようにして思考をしているのかを普段の生活を観察したりして調べると言うことです。
私はこの世界にある事柄には絶対にその事柄が発生した理由があり、なぜそれが起きたのかわかることができないということはないと思っています。
例えば完全にランダムな数を作り出したりもできないと思っています。
ですが友達などに何かランダムな数を思いついてと言えば一応ランダムな数はでてきます。
が、これはその人の記憶の状態によって変わる数だと思っているので完全なランダムとは言えないと思います。
そしてまだ理由が科学的にわかってないものにも理由が絶対あると思っています。
まだ見出せていないだけです。
ちょっとズレましたね、本題に戻ります。
先ほど言った通り絶対に事柄が発生したらその発生した理由があると思っていると思っており、人間の考える仕組みや感情の仕組みなども納得のいくような仕組みがしっかりとあると思っています。
その仕組みを調べるまたは再現する方法を探すということをしてわかったことをここではメモしています。
ちなみに私の叶うかわからない夢は人間をパソコンで動かすことです。
世の中には既に画像を認識してその画像がなんの画像なのかを言い当てるようなAIがあったりします。
そのような今あるAIだと常識の知識やすぐ学んで活かすということがあまり上手ではありません。
ですが、その人間の仕組みがわかるまたは再現できる仕組みがわかればその点を改善することができます。
また、完成したら本当に世の中の仕事がなくなりそうですし、reCaptchaやhCaptcha等の認証も意味がなくなり犯罪が起きそうで怖いです。
* * *
前のページ | [次のページ](1_記憶方法と考える方法.html)
{% endfilter %}
{% endblock %}