{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[メニューに行く](/storage/tech/human), *人間をリバースエンジニアリング 2021/7/13の記録*
* * *
# 1 記憶方法
人間の記憶方法と言ってもぶっちゃけイメージ(概念?)のようなもので考えずらい。
ここではパソコンで再現できそうなもので、今私が思いついている記憶方法をここに書いておく。
## "IDとそのIDに関連するIDのリスト"による実装
例えば鉛筆という存在を覚えるとして以下のような記憶ができたとする。
![図1](/storage/tech/human/1_記憶方法_図1.gif) (字が汚い。)
ID1と2はあらかじめ書くのに使うためのものと細いものという二つの記憶で予め覚えた記憶とする。
そしてID3は鉛筆の説明をされ、鉛筆を覚えた時の記憶とする。
鉛筆の説明を受けた際のこれら記憶の持ち主は、記憶の中から自分が見ている鉛筆に関連するものを探す。
その時にID1と2のものが関連すると思いつき、その二つのIDを新しい記憶であるID3の鉛筆と関連づけた。
このように"IDとそのIDに関連するIDのリスト"による実装で、記憶方法が実装できるかもしれないと私は思っている。
### この仕組みの問題点
これだとIDに関連するIDのリストにあるIDにあるIDのリストにあるIDという感じに続き、最終的に関連するIDがないIDがないとおかしいことになる。
これについての解決方法は正確にはまだ思いついていないが、以下のような感じに実装ができそうだ。
関連するIDがない物を記憶(全く新しい記憶)する際は、他の関連するIDがある記憶とは少し違った構成で記憶をする。
全く新しい記憶になるであろう記憶を記憶する際は、その記憶の共通する情報を保存する。
原子の情報(中性子の数など...?)のようにその記憶の基礎情報を関連するIDの代わりに保存するというような感じ。
ここでいう"基礎情報"はもう関連するIDがない記憶に共通してあるものかもしれないと思っている。
## 記憶方法とは違うが記憶について
人間の忘れるというロジックは、引き出される回数が少ない記憶ほど思い出しにくくなりいつか忘れると言った感じ。
強いて言うなら実は人間は生まれた時から見てきたものを全て覚えている。
ただ単に思い出せないだけで実は忘れていない。
なので本当の忘れるの定義は、「記憶の引き出された回数が少なくその記憶を引き出すことが困難になってしまう。」と言った感じ。
この話は次の話で"思い出しやすい記憶"とちょいでてくる。
次の話で"思い出しやすい記憶"とでたらそれは引き出された回数が多い記憶のことだと思ってください。
なので勉強時にはちょくちょく忘れそうな物を思い出すといった動作も有効だと私は思っていたりする。
(絶対に覚えられるという確証はない。)
## そして
これはまだ考え途中の話でありまた変更することがある。
* * *
[前のページ](/storage/tech/human/0_概要.html) | [次のページ](/storage/tech/human/2_考える方法.html)
{% endfilter %}
{% endblock %}
