{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/tech/human), *人間をリバースエンジニアリング 2021/12/25の記録*
* * *
# 記憶方法と考える方法
ここに今から書く方法はまだ未完成で「こうしたらできそうだな」というものです。
また、まだ実生活における考えるでここに記載した考える方法と辻褄が合わないことがあります。
## 記憶方法
イメージという概念をパソコンで再現できれば人間を作ることはできると思っています。
ここで私が言ったイメージというのは他のイメージを渡したら、そのイメージにしたがって適切なイメージを返すというものです。
その適切なイメージを返す方法については後ほど記載します。
そのイメージはその状態でたくさんの他のイメージと関連づけられています。
例えば"隣のあいつの水筒"のイメージ(記憶)の場合は、"隣のあいつの"という条件のない水筒というイメージと関連づけられます。
そのイメージをどうにかして保存する感じです。
ですがイメージはその時その時などを表現している概念であるためそれを保存することは難しいと思われます。
(ここでディープラーニングを使えばできる気もしますが。)
ですので、今私はそれを文字で表現すればできることは制限されそうですが一応表現ができそうだなと思っています。
ちなみに自分を観察していたりして気づいたのですが読み書きをしないイメージ(記憶)程忘れやすくなります。
(忘れるというか思い出す優先順位が低くなる感じです。)
それと忘れたというのはあり得ないと思っています。
というのも忘れたという状態は読み書きが全く行われず思い出しずらくなり、他のイメージが思い出されてしまいなかなかその忘れたと呼ばれるイメージが思い出されない状態だと思います。
なので世の中の忘れたという定義はそういうふうに考えると間違っていると私は思います。
## 考える方法
考えるきっかけとなったイメージを自分の持っている全てのイメージ(記憶)に渡して、そのイメージが返したイメージを考えた答えにふさわしいとされるイメージ(状態)と照らし合わせし、返すべきもののイメージに近いものほど納得が言った状態で考えた答えが出るという感じです。
あ、それと追記でこの時、イメージを渡して帰ってきたものも他のイメージに渡し、それを繰り返します。
例えばとある二つの巨大な数を紙とペンで足し算をしたいという時は、その部屋にあるものなどの情報のある(恐らく大抵家にいるとかいう感じのイメージとかが関連づけられてる)イメージを全てのイメージに渡していきます。
そして筆算をしたい状態のイメージは筆算のやり方のイメージにいつか渡され、そのイメージには筆算のやり方が記録されています。
ここでいう記録は以下のように記録されています。

```
数に相当するイメージ
数に相当するイメージ　＋
ーーーーーーーーーーーー
答えに相当するイメージ
```
あ、ここには`ーーーー`と`＋`が筆算の図として記録されていますがこれもイメージです。
`ー`のイメージには絵や仕切り線などのイメージが関連づけられていて、`＋`には絵やプラスというイメージが関連づけられています。
そしてその筆算をしたい状態のイメージを渡したイメージは筆算のやり方のイメージを返します。
そしてそのやり方のイメージが行動をするイメージに渡されます。
この行動をするイメージはビルトイン、つまり最初からあるイメージです。
(ですが、人間の場合赤ちゃんのころからだんだん拡張されています。(器用になっていっています。))
ここで行動をするイメージに渡される理由は、筆算をしたい状態というイメージにはそういう行動をしたいというイメージでラップされている(関連づけられている)からです。
なぜなら筆算をしたい状態は筆算をする行動をする状態だからです。
そしてさっき言いましたが渡して帰ってきたイメージをまた全てのイメージに渡します。
そのおかげで筆算をすることができます。
と言った感じです。
いつまでも考え続けそうと思うかもしれませんがそれは次のページで説明します。
## ビルトインイメージ
先ほど言いました行動するというイメージはビルトインにすると良さそうです。
これは感情や理性も同じだと思っています。
* * *
[前のページ](0_概要.html) | [次のページ](2_ライフサイクル.html)
{% endfilter %}
{% endblock %}