{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/tech/human), *人間をリバースエンジニアリング 2021/12/25の記録*
* * *
# ライフサイクル
ライフサイクルというのは常に考えているに近いことをするサイクルです。
というのも今見ている映像のその時その時のイメージやその時考えているイメージを、そのイメージの場所などがマッチしているイメージに上書きし、上書きイベントを発生させて上書き後イメージを全てのイメージに渡すということをします。
例えば「今日はモンスターエナジー(飲み物)を買うついでに石鹸も買っておこう」と思ったとします。
ですがそう思った人は石鹸を買うのを忘れてしまいました。
それに気付けたのは風呂に入った時です。
「あ！」っと気づいたことでしょう。
これは風呂に入って石鹸を取ろうとした際に、存在しない石鹸というイメージが全てのイメージでマッチしているイメージをこのイメージで上書きし、その上書きイベントで石鹸を買うというイメージが全てのイメージに渡されます。
そしてやることというイメージに石鹸を買うというイメージが渡されてやっていないことが判明します。
その時そのやることが返したやっていないというイメージが色々なイメージに渡されて「あ！」と言ってしまった。
と言った感じでしょう。
これは大事な人を殺されてしまった際にも同じです。
あ、ひどい話をするので聞きたくない人はイメージの処理の停止のタイミングというとこまで下に行ってください。
ある日家に帰ったら大事の人を殺している自分の友人がいました。
まずその状況のイメージがたくさんのイメージ(家の状況)等のイメージを上書きして、その上書き後のイメージが全てのイメージに渡されます。
そしてその家の状況のイメージ等がその大事な人を守るというイメージに渡され「え、ちょっと何やってんの？？」っと言って殺す作業を止めようとします。
ですが友人は言うことを聞かず淡々と包丁で刺しています。
狂ってしまったのでしょうか？
ライフサイクルによって言うことを聞かない状況で家のリビングの状況が上書きされて、その言うことを聞かない状況が怒りまたは守るためにすることのイメージについに渡されます。
怒りの場合は「おいやめろって！！」と言い守るためにすることの場合はいつか殴るになり殴るでしょう。
それでもなおやめずに淡々と包丁で刺すのを続けた場合は悲しみや恐怖のイメージに渡されるでしょう。
尻餅をついたのちに後を向かずに後ろに動きながら「あ、ああ、ああああああ......ああああああああああ嗚呼」と言った後に地面に頭をつけて這いずりながら発狂したりするのかな。
これもライフサイクルによるものだと思います。
# イメージの処理の停止のタイミング
これだと永遠にイメージの受け渡しが続きそうです。
そうなってしまうとCPUの処理が停止するようにパンクしてしまいます。
これはとても良くないです。
なので私はこう考えました。
恐らく人間のイメージの処理ではイメージの読み書きの一定の単位があり、それは何個までというように作れる数が脳の大きさによって変わるみたいな感じなのでしょう。
これはコンピューターでいうデータベース(MySQL等)みたいですね。
トランザクションとかいうのかな、そこら辺はあまり知りませんがこれをトランサクションと呼ぶことにします。
その処理はいつでも停止可能で活発な処理ほど優先されて処理されると思います。
というのもその活発のなものが増えると活発でないトランサクションは切り捨てられると言った感じです。
* * *
[前のページ](1_記憶方法と考える方法.html) | 次のページ
{% endfilter %}
{% endblock %}