{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/tech/human), *人間をリバースエンジニアリング 2021/7/13の記録*
* * *
# 2 考える方法
人間が考える方法でパソコンで実装できそうなものについて、私が思いついているものをここに書く。
なお前回の話が理解できていなければこの話は理解することがほぼできないであろう。
前回も見ようね。
## メモリクローラーで実装ができる...?
メモリクローラーとわざわざかっこよくしてわかりずらくする私。
要するに記憶を順番に全てチェックしてくれるやつといった感じ。
### メモリクローラーの動作
#### 常に動いている際の動作
メモリクローラーは常に動いている。
考えるという話とは少し逸れるが、メモリクローラーは今人間が見ているものについて関連するものを常に読みこむ。
例えば洗剤がきれているから買おうと思ったが、そのことを忘れてしまう。
そして夕方に風呂を洗いに行った際にメモリクローラーが風呂に関連するものを読みこむ。
ここでこの際に洗剤を買うという記憶が読みこまれ、人間は洗剤を買い忘れてしまったことに気づく。
というような役割もメモリクローラーはする。
考えるというより突然思い出す話だがついでにということでここに記載した。
#### 考える際の動作
メモリクローラーにタスクを渡す。
(pythonの非同期で例えるなら`loop.create_task`みたいな(?))
(わかりずらいしあまりあっていない)(伝われ)
そのタスクは考える問題の情報で、メモリクローラーに問題の情報を渡すということ。
例えば、「親ガエルはゲロゲロと鳴く。なら子供ガエルはなんて鳴く？」という問題があるとする。
この問題が人間に渡された際メモリクローラーにこの問題の情報を渡す。
(`[カエル, 親ガエル, 子供ガエル, 鳴き声]`といった情報だろう。)
そして記憶から↑の記憶に関連するIDの記憶を片っ端から探す。
ここで思い出しやすい記憶の中に「子供ガエルはおたまじゃくし」という記憶があれば、メモリクローラーがその記憶を読みこむ。
そうすることでおたまじゃくしの記憶からおたまじゃくしは鳴くことがないという記憶が引き出される。
答え：おたまじゃくしは鳴かないから子供ガエルは鳴かない。
と人間は言うことができる。
(なおtasurenはこの問題がわからなかった。)
このように実は考えるという動作は記憶を引き出しているだけである。
これだけだとピンとこない人は記憶を単の情報だけしかない、ではなく情報以外に経験の記憶もあると言うとピンとくるかな...？
過去にある経験に関連するIDの中に問題に関するものが含まれる際(問題の状況がその経験の情報と似ている時)、その経験の記憶を引き出してその記憶の情報を言うだけで答えを言うこととなる。
と言った感じかな。
* * *
[前のページ](/storage/tech/human/_1_記憶方法.html) | 次のページ (未製作)
{% endfilter %}
{% endblock %}
