{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/tech), *最終更新日:2021/7/13*
* * *
# 人間をリバースエンジニアリング 第二改訂版
人間の仕組みを研究してパソコンでエミュレーションしたい！
その研究についてわかっていることをメモしている。
実は部活で研究してたりする。

## ページ一覧
* [0 概要](0_概要.html)
* [1 記憶方法と考える方法](1_記憶方法と考える方法.html)
* [2 ライフサイクル](2_ライフサイクル.html)

## 過去のメモ一覧
ここに書いているメモは日々改訂していっている。  

* [第一](/storage/tech/archive/human/1.zip)
{% endfilter %}
{% endblock %}