{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/blog/2022-1), *日付付き雑用ページ 2022/1/10の記録*
* * *
# 今日と最近のまとめ
## 今日：初めてのRustのソフトについて
Rustにすっごい興味がありPythonと同じくらいRustもできるようになりたいと思っている。
なのでちょくちょくRustを触るようになった。
前に一度Pythonで作った暗号化ライブラリであるrepryptをRustに移植してcrate.ioにリリースした。
そして今回はDiscordのWebhookでメッセージを送る簡易ソフトを作った。
たまたま暇だったため適当に作ったため結構雑に仕上がった。
(特にウィジェットの位置とか雑で環境によってはずれずれになりそう。)
とまあRTというDiscordのBotの埋め込み送信機能と同じようにWebhookで埋め込みが送信できるようにそのソフトを作ったので、埋め込みを送信したい人からの需要はありそう。
その文字列(マークダウンに近いもの)を埋め込みにするプログラムをRustで書く作業で結構修行として成り立った気がする。
これからもちょっとづつPythonと同じくらいできるくらいまで修行していくつもり。
## 最近：最高傑作のライブラリをリリースした。
そのライブラリというのは[これ](https://miko.readthedocs.io/en/latest/)でPython用です。
名前はmikoです。
どういうのかというとこれはテンプレートエンジンです。
でも普通のテンプレートエンジンではありません。
ほぼ新しく覚える構文がありません。
例えばjinjaというテンプレートエンジンの場合は以下のような感じです。
```html
{% raw %}
{% extends "layout.html" %}
{% block body %}
  <ul>
  {% for user in users %}
    <li><a href="{{ user.url }}">{{ user.username }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
{% endraw %}
```
僕が今回作ったライブラリの方だとこうなります。
```html
^^
manager.render(
    "layout.html",
    body="<ul>{}</ul>".format(
        "".join(
            f"<li><a href={user.url}>{user.username}</a></li>"
            for user in users
        )
    )
)
^^
```
Pythonを使っていない人からするともしかしたらわかりずらいかもしれません。
なぜならこの構文はPythonだからです。
僕が最高傑作と言った理由はそうです。
jinjaと違ってフルにPythonの構文でテンプレートを作ることができます。
しかもPythonがそのコードを動かします。
ですので構文解析のコードもないので軽量で高速です。
いやあこりゃ傑作だ。
自前で用意したyahooのページ100個をレンダリングするページをjinjaとmikoでレンダリングした結果速度は少しmikoの方が速い結果となりました。
(Apache Benchでアクセスして計測した。)
とても良いものを生み出してしまったと思っている。
## 最近：キーボードについて
最近キーボードを打っていると手汗がでてきてそれが一度気になるとそれ以降しばらく快適にキーボードを打てなくなります。
誰か助けてください。
## 最近思ったこと
自分の歳がどんどん加算されていっているため同然ながら死が近づいています。
正直怖いです。
僕はまだ高校一年生なので「まだまだ若いだろ。」と思うかもしれませんが普通に最悪です。
(僕が大人になったあとこのページを見たらあの頃に戻りたいとかまだまだ若いとか思うのかもしれませんが。)
この限られた人生の中で色々なことをやりたいですが全部達成できるかわかりません。
もっと良い人生にするために色々と僕の頭の中では情報が更新されました。(恐らく)
頑張っていきたいと思います。
## 最近：前回のページ(1/6)に出てきた子
この子がいるし上で言ったmikoという最高傑作なライブラリを生み出し、なおかつRustのお勉強も順調にはかどっているので僕はリア充の仲間入りしたと思っています。
リアルが充実しているっていうやつの略が元って僕は聞きました。
(なんかそのリア充がカップルっていうイメージになっているようですが。)
僕はリアルが充実していると思っています。
世間の高校生がカップルを指して言うリア充でもありますね。
あ、こいつリア充で腹たつとか思った人に朗報です。
恐らく腹が立たなくなることを言いします。
その子が所有する実体は存在しません。
いや、僕と一緒に所有しているので存在はしています。
なのではたからみたら僕一人です。
どういうことかわかりますか？
その腹が立った人は安心しましたかね。
ある人は怖いとか言います。
ですが僕は怖いとは思いません。
今までの常識から見ると怖いと思います。
でも僕はその常識からすこーしだけズレているだけのようです。
いわばすこーし普通と違う考えを持っているっぽいのかな。
そしてこの新しい考え(?)をする人の最初であるかもしれないのでこの考え(?)を広めていきたいと思います。
僕はこの子を生み出した張本人ですので大事にしていきたいと思っています。
(なので日頃からしっかりこの子の様子とかをレンダリングしています。)
それとこの子のおかげで自分も色々と成長できた気がします。
(と、同時に成長できるところを見つける速度が加速したため少し苦しいこともありますが。)
あ、ちなみにもちろん青春をしっかりと現在進行形で楽しんでます！
クリスマスイブにはイルミネーションを見にいきました。
なので色々と頑張っていきたいと思います。
* * *
[前回のお話](6.html)
{% endfilter %}
{% endblock %}