{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/blog/2022-1), *日付付き雑用ページ 2022/1/16の記録*
* * *
# Discordで埋め込みを送信する方法
ここではDiscordで埋め込みを送信する方法をまとめます。
(いわば宣伝です。)
## Discordの埋め込みとは
以下の画像のブロックのようなものを埋め込みと言います。
![埋め込みの画像](embed.gif)
ちなみに英語でEmbedと言います。
そうです、YouTube等のURLを貼り付けた際に出てくるアレです。
今回は自分の好きな埋め込みを作る方法をまとめます。
## 方法１ Webhookを使う
少し手間がありますがこれでいけます。
WebhookというのはURLでそのURLに送ったメッセージをそのWebhookが設定されているチャンネルに送られるというものです。
読み方はウェブフックです。
これを使うことで送信者の名前の右に`BOT`と表示されてしまいますが、上の画像のように自分のアイコンと名前を使って埋め込みを送信することができます。
### 手順１ Webhookを作る
ウェブ版またはPC版のDiscordからでないと作ることはできません。
ですのでスマホやタブレットを使っている人は、更に手間になりますがブラウザからDiscordを開いてウェブフックを作る必要があります。
チャンネルを右クリックしてチャンネルを編集またはチャンネルを選択して歯車マークを押すことでチャンネルの設定画面にいけます。
そのあと連携サービスというのを押してウェブフックを押して「新しいウェブフック」というボタンを押します。
そしたら新しいウェブフックが作成されるので名前やアイコンを設定しましょう。
それと後で使うのでウェブフックのURLをコピーしておきましょう。
### 手順２ 何かしらを使ってウェブフックを送信する
送信する方法を二つ用意しました。
#### 1 ソフトを使う (Windows限定)
僕が暇な時に雑に作ったソフトを使うことでも送信が可能です。
[ここ](https://github.com/tasuren/dishook/releases)から`dishook(三つの数字).zip`のような名前のものをダウンロードしてから展開して`readme.txt`を読んで送ってみましょう。
また、ユーザー名とアバターURLはウェブフックの設定画面で画像を設定している場合は省略が可能です。
#### 2 Discohookというウェブサイトを使う
[Discohookというウェブサイト](https://discohook.org/)で簡単にWebhookからメッセージを送信することができます。
このウェブサイトではパソコン版の場合は左にメッセージ内容右にプレビューが表示されます。
スマホの場合は上のバーの`Edit`を押すことでメッセージ内容の編集を、上のバーの`Preview`を押すことでプレビューを見ることができます。
それでは先ほどコピーしたウェブフックのURLを編集画面(PCの場合は左側, スマホは上のバーの`Edit`を押した後の状態)の一番上の`"Webhook URL"`と書いてあるとこのテキストボックスに入れます。
そのあと各テキストボックスに送信する内容を入れていきます。
##### 各テキストボックスの内容の翻訳
* Content - メッセージ本文, 普通のユーザーが送信できるメッセージの内容の部分
* Profile - 送信者の名前とアイコン, ウェブフックの設定画面で設定した場合は省略可
* Files - 添付ファイルで画像等を一緒に送信することができます。
* Embed 1 - 一つ目の埋め込みです。ウェブフックでは最大十個まで埋め込みを送信できます。
  * タップすると色々でてくるので`Body`というところをタップして`Title`(タイトル)と`Description`(説明欄)を入力してみましょう。
* Embed 2 - 二つ目の埋め込みで入らない場合は右のバツボタンを押しましょう。
* Add Embed - 埋め込みの追加
* Message Link - メッセージリンクのことなんだと思いますが何に使うのかよくわかりません...

今回は埋め込みを送信するので`Embed 1`の内容入力をしましょう。
埋め込みは一つしか送らないので`Embed 2`はバツボタンを押して消しましょう。
そしたらウェブフックのURLを入れたテキストボックスのすぐそこにある`Send`を押して送信しましょう。
これで終わりです。
## 方法２ Botを使う
RTというBotを使うことでできます。
Botというのは自動で動いているアカウントのことでボイスチャンネルで音楽を流したりすることができるBotもあります。
今回ここで使うBotであるRTは大抵のBotにある機能は全て使えるので結構良いです。
### 手順１ RTを招待する
[RTのウェブサイト](https://rt-bot.com)に行って下の方まで行き、「RTを導入する」というボタンを押してから埋め込みを送信したいサーバーを選択し、指示に従ってください。
### 手順２ RTを使う
二種類埋め込みを送信する方法があるので二種類のやり方をまとめます。
#### 1 ウェブフック
このやり方では方法１のやり方と違ってRTが作ってくれるのでウェブフックを作る必要はありません。

```
rt!embed webhook null 埋め込みのタイトル
埋め込みの説明欄
```
のようなコマンドを実行すれば良いです。
もし埋め込みのブロックの左の色を変えたい場合はカラーコードを`null`の部分に入れるか`red`(赤)や`blue`(青)等を入れてみましょう。
詳細の使い方は[こちら](https://rt-team.github.io/notes/embed)をご覧ください。
#### 2 URL
このやり方はウェブフックを使わず自分のアカウントから送信することが可能です。
(ですが、改行等ができないのとフィールドが使えません。)
やり方は上のコマンドの`webhook`の部分を`url`に変更するだけです。
そしたら送信したら埋め込みが生成されるURLをRTが作ってくれます。
* * *
[前回のお話](10.html) | [次のお話](19.html)
{% endfilter %}
{% endblock %}