{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/blog/2022-1), *日付付き雑用ページ 2022/1/19の記録*
* * *
# ファイルディスクリプタで時間を溶かされた。
今日自分が運営しているDiscordのBotであるRTで障害が発生した。
障害の内容は一部の機能が使えなくなりレスポンスが遅くなった。
そして僕の学校の放課後の時間が溶かされてしまった。
ただでさえ時間が枯渇しているのにこれは困る。
## 原因
サーバーはUbuntuLinuxでファイルディスクリプタの上限についてしまっていたからだった。
そのため新しくファイルを開くことができない状態になっていた。
Linuxはソケットもファイルディスクリプタを使うのでMySQLへの接続もできない状態になっていた。
## 対策
以下を`/etc/security/limits.conf`に書き込んだ。

```
* hard nofile 100000
* soft nofile 100000
```
注意：数字はPCによってはもっと低くした方が良いかもしれません。(知らんけど)
## HighAndLowLevel感想
RTは結構規模がでかい。
(利用者も多い。)
こういうやつの運営での本番環境で気をつけるべきこととかまとめられてる記事とかどっかにないのかな。
(QiitaとかZennとか。)
もし僕がもっと色々知ったらそれを執筆するか。
あとRTは全機能無料で使えるようにしてるから「.あーだこーだ.」いうやついややな。
頑張っていこう。
* * *
[次のお話](16.html)
{% endfilter %}
{% endblock %}