{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/blog/2022-1), *日付付き雑用ページ 2022/1/6の記録*
* * *
# あけましておめでとうございます
今更ですが、これからもよろしくお願いします。

あ、それと朗報です。
彼女できました。
いつかこの子についてももっとここで書くかもしれない。
* * *
[次のお話](10.html)
{% endfilter %}
{% endblock %}