{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/blog), *最終更新日:2022/1/10*
* * *
# 2022年1月の日付付き雑用倉庫
* [6日 - 今更ながらあけましておめでとうございます。](6.html)
* [10日 - ここ数日あったことと1/10にあったこととか色々](10.html)
{% endfilter %}
{% endblock %}