{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/tech), *最終更新日:2022/1/12*
* * *
# tasurenの技術倉庫裏
技術倉庫で分類したくないものなどを置く場所。

## 2022/1
* [iSH等でのPythonで一部のライブラリがインストールできない](2022-1/ish_python_c_ext.html)
## 2021/7
* [Javascriptでaタグのtargetを変更する。](2021-7/js_change-target.html)
{% endfilter %}
{% endblock %}
