{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/tech), *最終更新日:2021/7/14*
* * *
# tasurenの技術倉庫裏
技術倉庫で分類したくないものなどを置く場所。

* [2021/7/14 Javascriptでaタグのtargetを変更する。](/storage/tech/etc/2021-7-14_js_change-target.html)
{% endfilter %}
{% endblock %}
