{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
*最終更新日:2021/7/13*
* * *
# tasurenの貯蔵庫
ここはtasurenが思ったことやメモしておきたいことなど色々置く場所の一覧です。
## 倉庫一覧
* [技術倉庫](/storage/tech)
* [日付付き雑用倉庫](/storage/blog)
{% endfilter %}
{% endblock %}
