<style>
  nav #title { font-weight: bold; text-align: center; }
  nav ul { margin: 1%; list-style: none; padding-inline-start: 1%; }
  nav li { margin: 0.5%; }
  nav li a { font-weight: bold; text-decoration: none; }
  nav li a:visited { color: var(--link-color); }

  @media screen and (max-width: 959px) {
    nav { margin: 2%; }
    nav #title { font-size: 9.5vw; }
    nav ul { font-size: 6vw; }
  }

  @media screen and (min-width: 960px) and (max-width: 1678px) {
    nav { width: 23vw; }
    nav #title { font-size: 2.2vw; }
    nav ul { font-size: 1.8vw; }
  }

  @media screen and (min-width: 1679px) {
    nav { width: 25vw; }
    nav #title { font-size: 1.8vw; }
    nav ul { font-size: 1.4vw; }
  }
</style>
<nav>
  <div class="background-for-text">
    <div id="title">tasurenの部屋</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/articles">Articles</a></li>
    </ul>
  </div>
</nav>