<style is:global>
  .page-metadata-header {
    display: flex;
    justify-content: space-between;
  }
  .force-hidden { display: none; }
</style>
<script>
  const FORCE_HIDDEN_CLASS_NAME = "force-hidden";
  const forceHidden = function (element, onoff) {
    let current = element.classList.contains(FORCE_HIDDEN_CLASS_NAME);
    console.log(element.classList, current, onoff);
    if (onoff && !current)
      element.classList.add(FORCE_HIDDEN_CLASS_NAME)
    else if (!onoff && current)
      element.classList.remove(FORCE_HIDDEN_CLASS_NAME);
  };

  window.addEventListener("load", () => {
    // 戻るというボタンを用意すべきならそれを用意する。
    let main = document.getElementsByTagName("main")[0];
    let mainHeader = document.getElementById("main-header");

    for (var word of ["/works/", "/articles/"])
      if (location.href.includes(word)) {
        forceHidden(mainHeader, false);
        document.getElementById("back").setAttribute(
          "href", location.pathname.slice
            (0, location.pathname.lastIndexOf("/"))
        );
        break;
      };

    // メタデータのHTMLが設定されているのなら、戻るボタンの右にそれを付ける。
    let html = main.getAttribute("data-metadata_html");
    if (html) {
      document.getElementById("metadata").innerHTML = html;
      forceHidden(mainHeader, false);
    };
  });
</script>
<div id="main-header" class="force-hidden">
  <div class="page-metadata-header">
    <a id="back" class="metadata-left">戻る</a>
    <div id="metadata" class="metadata-right"></div>
  </div>
  <hr hidden />
</div>