{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
<img src="https://camo.githubusercontent.com/444080972239819b0a3c046f99356dd1a7727b46049e399177af4b60e650bb3e/68747470733a2f2f727464626f742e7765622e6663322e636f6d2f46726565646f6d57616c6c5f446973636f72642e6a7067" alt="Discordに利用規約違反せずに壁紙をつけている様子" width="1000" height="600">
# FreedomWall
どんなソフトでも好きな画像を壁紙として設定できるソフトです。
Discordでも__利用規約違反せず__に使用できます。
## 利用規約違反しない理由
このソフトは壁紙をつける仕組みが特殊です。
半透明のウィンドウを作成してそこに壁紙を映します。
そのウィンドウを指定されたソフトのウィンドウの上に表示することで疑似的に壁紙を再現します。
そのためどんなソフトでも一切ソフトに手を加えずに壁紙をつけることができます。
## 情報
動作環境：Windows10 64bitで動作確認済み
言語：Python (いつかC#に変える予定ではある。)
開発者：tasuren
注意事項：ウイルスと間違えられますがウイルスを入れたつもりはありません。
[ダウンロード](/static/soft/FreedomWall121.zip)
[使用した外部モジュールのライセンス](https://github.com/tasuren/FreedomWall/tree/main/LICENSE)
{% endfilter %}
{% endblock %}