{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
# tasurenが配布しているソフト一覧
## 警告メーカー
<img src="/static/soft/WarnMaker.GIF" alt="ウイルスと書かれた警告ウィンドウを作っている様子" width="500" height="300">
好きな警告ウィンドウを簡単に作成するソフトです。
tasuren初のC#でできたソフトだよ。
[最新版をダウンロード](https://github.com/tasuren/WarnMaker/releases/download/1.0.0.0/WarnMaker1000.zip)
[全バージョンを見る](https://github.com/tasuren/WarnMaker/releases/)
## FreedomWall
<img src="https://camo.githubusercontent.com/444080972239819b0a3c046f99356dd1a7727b46049e399177af4b60e650bb3e/68747470733a2f2f727464626f742e7765622e6663322e636f6d2f46726565646f6d57616c6c5f446973636f72642e6a7067" alt="Discordに利用規約違反せずに壁紙をつけている様子" width="500" height="300">
Discordなどのソフトに利用規約違反せずに壁紙を付けることができるソフトです。
[詳細を見る](/soft/freedomwall.html)
{% endfilter %}
{% endblock %}
