@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-foreground: white;
    --color-link: #66A3FF;
    --color-background: black;
    --color-card: oklch(0.34 0.1365 18.43);
}

html,
body {
    @apply bg-background;

    & .prose * {
        @apply text-foreground;
    }

    & h1,
    h2,
    h3,
    li::marker,
    footer {
        @apply text-foreground;
    }
}

a {
    @apply underline text-link!;
}
