@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-foreground: #ffe4e1;
    --color-link: #d9333f;
    --color-background: oklch(0.25 0.0705 21.71);
    --color-card: oklch(0.34 0.1365 18.43);
}

html,
body {
    @apply bg-background;

    & .prose * {
        @apply text-foreground;
    }

    & h1,
    h2,
    h3,
    li::marker,
    footer {
        @apply text-foreground;
    }
}

a {
    @apply underline text-link!;
}
