/* tasuren's Website - CSS for Global */


/* リセット */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }


/* カラーコードの定義。 */
:root {
  --kikuo: #f8f5f7;
  --maretu: #170000;
}

:root {
  --link-color: #5ba2f5;
  --link-color-visited: #8d99c9;
  /* ライトテーマ */
  --color: black;
  --background-color: var(--kikuo);
  --background-color-for-code: #f9f4f1;
}

:root[data-theme="dark"] {
  /* ダークテーマ */
  --color: white;
  --background-color: var(--maretu);
  --background-color-for-code: #191724;
}


/* 一般 */
a:link { color: var(--link-color); }
.no-visited-color a:visited { color: var(--link-color) }

.neutral { opacity: 0.7; }

@media (480px < width) { .sp-only { display: none; } }
@media (480px >= width) { .pc-only { display: none; } }

code {
  background-color: var(--background-color-for-code);
  border-radius: 0.4vh;
  padding: 0.3vh 0.4vh;
  font-family: 'Source Code Pro', monospace;
  opacity: 0.88;
}

@media (480px < width) {
  code { font-size: 16px; }
}

.pointer { cursor: pointer; }