body {
    font-family: 'Yomogi', cursive;
    background: url(/static/wallpaper1.gif);
    background-attachment: fixed;
    background-size: 10%;
}


/* リンクの装飾 */
a {
    font-weight: bold;
}
a:link {
    color: #38a1db;
}
a:visited {
    color: #8491c3;
}


/* メインコンテンツの装飾 */
.main {
    margin-left: 30px;
    color: #88b2c1;
}