.codehilitetable .hll { background-color: #ffffcc }
.codehilitetable  { background: #f8f8f8; }
.codehilitetable .c { color: #408080; font-style: italic } /* Comment */
.codehilitetable .err { border: 1px solid #FF0000 } /* Error */
.codehilitetable .k { color: #008000; font-weight: bold } /* Keyword */
.codehilitetable .o { color: #666666 } /* Operator */
.codehilitetable .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.codehilitetable .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilitetable .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilitetable .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.codehilitetable .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilitetable .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilitetable .gd { color: #A00000 } /* Generic.Deleted */
.codehilitetable .ge { font-style: italic } /* Generic.Emph */
.codehilitetable .gr { color: #FF0000 } /* Generic.Error */
.codehilitetable .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilitetable .gi { color: #00A000 } /* Generic.Inserted */
.codehilitetable .go { color: #888888 } /* Generic.Output */
.codehilitetable .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilitetable .gs { font-weight: bold } /* Generic.Strong */
.codehilitetable .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilitetable .gt { color: #0044DD } /* Generic.Traceback */
.codehilitetable .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilitetable .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilitetable .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilitetable .kp { color: #008000 } /* Keyword.Pseudo */
.codehilitetable .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilitetable .kt { color: #B00040 } /* Keyword.Type */
.codehilitetable .m { color: #666666 } /* Literal.Number */
.codehilitetable .s { color: #BA2121 } /* Literal.String */
.codehilitetable .na { color: #7D9029 } /* Name.Attribute */
.codehilitetable .nb { color: #008000 } /* Name.Builtin */
.codehilitetable .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilitetable .no { color: #880000 } /* Name.Constant */
.codehilitetable .nd { color: #AA22FF } /* Name.Decorator */
.codehilitetable .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilitetable .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilitetable .nf { color: #0000FF } /* Name.Function */
.codehilitetable .nl { color: #A0A000 } /* Name.Label */
.codehilitetable .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilitetable .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilitetable .nv { color: #19177C } /* Name.Variable */
.codehilitetable .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilitetable .w { color: #bbbbbb } /* Text.Whitespace */
.codehilitetable .mb { color: #666666 } /* Literal.Number.Bin */
.codehilitetable .mf { color: #666666 } /* Literal.Number.Float */
.codehilitetable .mh { color: #666666 } /* Literal.Number.Hex */
.codehilitetable .mi { color: #666666 } /* Literal.Number.Integer */
.codehilitetable .mo { color: #666666 } /* Literal.Number.Oct */
.codehilitetable .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilitetable .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilitetable .sc { color: #BA2121 } /* Literal.String.Char */
.codehilitetable .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilitetable .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilitetable .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilitetable .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilitetable .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilitetable .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilitetable .sx { color: #008000 } /* Literal.String.Other */
.codehilitetable .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilitetable .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilitetable .ss { color: #19177C } /* Literal.String.Symbol */
.codehilitetable .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilitetable .fm { color: #0000FF } /* Name.Function.Magic */
.codehilitetable .vc { color: #19177C } /* Name.Variable.Class */
.codehilitetable .vg { color: #19177C } /* Name.Variable.Global */
.codehilitetable .vi { color: #19177C } /* Name.Variable.Instance */
.codehilitetable .vm { color: #19177C } /* Name.Variable.Magic */
.codehilitetable .il { color: #666666 } /* Literal.Number.Integer.Long */