{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/lyrics), tasurenの歌詞倉庫
* * *
# U+200C の情報
元曲：[https://youtu.be/afGvb_MZbXM](https://youtu.be/afGvb_MZbXM)
作者：U+3164
## 注意事項
曲名がU+200Cとおかしいですが本当はもっとおかしいです。
上のURLに行けばわかりますがタイトルと作者名が空白になっています。
U+200Cはゼロ幅非接合子という文字でU+3164はハングルフィラーという文字です。
どちらも空白で見えない文字です。
なので本当の曲名と作者名は空白となっています。
このホームページでは空白だとわかりずらいのでUnicodeで名前を書いています。
なおAmazonMusicでは`<<<<<<`という名前になっている。
(空白によるタイトル設定ができなかったから適当に名前つけたのかな...?, 知らんけど。)
## U+200C の歌詞
いつからか名前を呼ばれることに
震え眠れなかった
大人も子供も消えてった
私も呼ばれるかな
冷たくて暗い部屋で
誰かの眠りを眺めてた

結う音 廻る音
まだ生きたいと流れてく
眠くて寂しい夜から
今も誰か消えてった


ソーダ飲み干しからからと
淡い色の涙が零れる
ただ雨の降る音だけを
聞いて怯えている
咲きかけのパセリの花が
枯れたら一緒に眠るのだ

結う音巡る音
まだ生きたいと流れてく
眠くて寂しい夜から今も
誰かが消えてった
おくる音廻る声
やっととけると喜べた
ぬるくて涼しい空気と
私が混ざってた


誰かがまた
名前を呼ばれ
知らずに消えていくのかな
なんのために誰のために
真っ暗な部屋ここは寂しいなんてないね
明日もまた
知らない誰かの
昨日と同じ日になるの
こんなだったら
最初から
くるり咲いた三日月はないのわかるでしょう
おやすみ
## tasurenの一言
名曲、曲の感じがすごい好き。
{% endfilter %}
{% endblock %}
