{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage/blog/2021-7), *日付付き雑用ページ 2021/7/17の記録*
* * *
# ブログページみたいのを開設した。
タイトルどおりブログページみたいのを開設した。
そして技術倉庫というのを作った。
メモしておきたい技術などを書いたりするとかなんとか。
これから色々書いていきたいと思っていたり。
* * *
[次回のお話](/storage/blog/2021-7/17.html)
{% endfilter %}
{% endblock %}
