---
import Product from "@components/Product.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";

const products = await getCollection("products");

const skills = new Set();
for (const product of products) {
    for (const skill of product.data.skills) {
        skills.add(skill);
    }
}
---

<MainLayout
    title="髙木祐来のポートフォリオ"
    description="髙木祐来のプロフィールや活動、リンク集が記載されている。"
>
    <p>
        髙木祐来は、哲学や意味論、オントロジーに興味のあるソフトウェアエンジニアです。
        得意分野は、バックエンドのシステム開発とアプリ開発です。
    </p>
    <p>
        現在は千葉工業大学に在学中で、ソフトメディア研究会にてソフトウェア開発活動を行っています。
    </p>

    <h2>主なスキル</h2>
    <ul>
        <li>Python：6年</li>
        <li>JavaScript：3年</li>
        <li>TypeScript：2年</li>
        <li>Rust：3年</li>
    </ul>

    <!-- <SkillIcons skills={Array.from(skills).join(",")} class="h-[100px]" /> -->

    <h2>成果物</h2>
    <div class="not-prose grid md:grid-cols-2 gap-4">
        {
            products.map(({ data }) => (
                <Product
                    title={data.title}
                    skills={data.skills.join(",")}
                    link={data.link}
                >
                    {<Fragment set:html={marked.parse(data.description)} />}
                </Product>
            ))
        }
    </div>

    <h2>連絡先</h2>
    <ul>
        <li>
            メールアドレス：
            <a href="mailto:tasuren@outlook.jp">tasuren@outlook.jp</a>
        </li>
        <li>
            <a href="https://github.com/tasuren" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="/" target="_blank">ホームページ</a>
        </li>
    </ul>
</MainLayout>
