<style>
  a:visited { color: var(--link-color); }
  ul { padding-left: 0; }
  li { list-style: none; }
</style>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/works">Works</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>