---
import Logo from "./Me.astro";
---
<style>
  /* メニュー */
  a:visited { color: var(--link-color); }
  ul { padding-left: 0; }
  li { list-style: none; }
  @media (width <= 480px) {
    ul { display: flex; justify-content: space-around; }
    li { display: inline; }
  }
</style>
<nav>
  <Logo additionalClass="pc-only" />
  <ul>
    <li><a rel="prefetch" rel="prefetch" href="/profile">Profile</a></li>
    <li><a rel="prefetch" href="/works">Works</a></li>
    <li><a rel="prefetch" href="/blog/tags/all/1">Blog</a></li>
    <li><Logo additionalClass="sp-only" /></li>
  </ul>
</nav>