---
import ThemeToggle from "./ThemeToggle.astro";
---
<style>
  /*@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');*/
  // NOTE: これをすると、一部ページにてCSSの一番上に配置されずフォントが適用されない。だから、今はlinkタグで対応中。

  body {
    background-color: var(--background-color);
    font-family: 'Zen Kurenaido', sans-serif;
    color: var(--color);
    opacity: 0.85;
  }


  /* レスポンシブ */
  nav { font-size: 140%; }

  @media (480px < width) {
    nav, main { height: 100%; }
    main { width: 60%; }

    body {
      font-size: 16px;
      /* 横並び */
      display: flex;
      justify-content: space-evenly;
      /* 位置調整 */
      margin-top: 10%; margin-bottom: 10%;
    }
  }

  @media (480px >= width) {
    /* スマホ時。 */
    nav { margin: 0 auto; }
    body { padding: 0 1%; }
  }
</style>
<style is:global>main a:visited { color: var(--link-color-visited); } </style>
<body>
  <link slot="meta-head" rel="preconnect" href="https://fonts.googleapis.com">
  <link slot="meta-head" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link slot="meta-head" href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

  <nav><slot name="header" /></nav>
  <main><slot /></main>

  <ThemeToggle />
</body>