<table border="0" cellspacing="0" cellpadding="0" class="scale-150">
  <tr>
    <td align="center">
      <a href="http://www.rays-counter.com/">
        <img
          src="http://www.rays-counter.com/d1290_f6_006/66f8ec7ee7923/"
          alt="アクセスカウンター"
          class="bg-white"
        />
      </a>
    </td>
  </tr>

  <tr>
    <td class="flex justify-center bg-white">
      <img src="http://www.rays-counter.com/images/counter_01.gif" />
      <img src="http://www.rays-counter.com/images/counter_02.gif" />
      <img src="http://www.rays-counter.com/images/counter_03.gif" alt="" />
      <img src="http://www.rays-counter.com/images/counter_04.gif" />
      <img src="http://www.rays-counter.com/images/counter_05.gif" />
    </td>
  </tr>
</table>
