---
interface Item {
  url: string;
  title: string;
  brief?: string;
}

interface Props {
  data: Item[]
}
---
<style>.item { text-decoration: none; }</style>
<ul>
  {Astro.props.data.map((item) => <li>
    <a class="item" href={item.url}>
      {`${item.title}${item.brief ? ` - ${item.brief}` : ""}`}
    </a>
  </li>)}
</ul>