---
import Logo from "./Me.astro";
---
<style>
  a:visited { color: var(--link-color); }
  ul { padding-left: 0; }
  li { list-style: none; }

  @media (width <= 480px) {
    /* スマホ */
    ul { display: flex; justify-content: space-around; }
    li { display: inline; }
  }
</style>
<Logo additionalClass="pc-only" />
<ul>
  <li><a href="/profile" data-astro-prefetch="tap">Profile</a></li>
  <li><a href="/works" data-astro-prefetch>Works</a></li>
  <li><a href="/blog/tags/all/1" data-astro-prefetch>Blog</a></li>
  <li><Logo additionalClass="sp-only" /></li>
</ul>