{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
# tasuren's Portfolio
## About Me
現在高校生のプログラマーです。  
主にバックエンドのプログラムを書いています。  
主にPythonを使っており少しウェブサイトを書けます。  
ここのサイトが古い感じなのはただ単に僕が古いサイトが好きだからです。

## Skills
できるプログラミング言語です。
* Python
* Rust
* HTML

## Works
主な成果物です。
* [niconico_dl](https://github.com/tasuren/niconico_dl) - ニコニコ動画から動画をダウンロードするPython用ライブラリ
* [RT Discord Bot - Backend](https://github.com/RT-Team/rt-backend) - RTというDiscordのBotのバックエンドのプログラム
* [RT Discord Bot - Frontend](https://github.com/RT-Team/rt-frontend) - RTというDiscordのBotのフロントエンドのプログラム

## Contact
連絡などは遠慮なく以下までお願いします。
* Discord：`tasuren#5161`
* Twitter：[tasuren1](https://twitter.com/tasuren1)
* E-Mail：tasuren5@gmail.com
{% endfilter %}
{% endblock %}
