{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
*最終更新日:2021/7/13* アクセスカウンタ:<a href="https://www.free-counter.jp/"><img src="https://www.f-counter.net/j/46/1626151572/" alt="アクセスカウンター"></a>
* * *
# ようこそtasurenのホームページへ
どうもtasurenです。
古いサイトって感じな理由は古いサイトが好きだから。
[ここ](profile.html)からtasurenについて詳細を知れるよ。

背景は星空意識したけど伝わるかな...

なおこのホームページのコードは[ここ](https://github.com/tasuren/tasuren-website)にある。
{% endfilter %}
{% endblock %}
