<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
    <META http-equiv="Content-Style-Type" content="text/css">
    <!- フォントの読み込み ->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <!- CSSの読み込み ->
    <link rel="stylesheet" href="/static/style.css">
    <!- 他 ->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/monokai.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script language="JavaScript">
    $(document).ready( function () {
       let a = $("a");
       a.attr("target", "_blank");
       a.not("a[href^=http]").attr("target", "_top");
    })
    </script>
    {% block head %}{% endblock %}
    <meta name="google-site-verification" content="obKIihRQsIwolkRqDzJgG1MyflwWpDpOc2cU_FBEcv8" />
  </HEAD>
  <BODY>
    <div align="left" class="main">
        <font size="5">
          {% block content %}{% endblock %}
        </font>
        <br>
        <br>
    </div>
    </div>
  </BODY>
</HTML>
