{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
# tasuren code works
## About Me
現在高校生のプログラマーです。
主にバックエンドのプログラムを書いています。
Pythonを特によく使っており、最近Rustも使い始めました。
ここのサイトが古い感じなのはただ単に僕が古いサイトが好きだからです。

## Skills
### Programming Languages
* Python
* Rust

### Others
* HTML
* Bootstrap

## Works
主な成果物です。

* [reprypt](https://github.com/tasuren/reprypt) - 独自の暗号方法による暗号作成ライブラリ, Rust用ライブラリもあります。
* [niconico_dl](https://github.com/tasuren/niconico_dl) - ニコニコ動画から動画をダウンロードするPython用ライブラリ
* [RT Discord Bot - Main](https://github.com/RT-Team/rt-bot) - RTというDiscordのBotのBot側のプログラム
* [RT Discord Bot - Backend](https://github.com/RT-Team/rt-backend) - RTというDiscordのBotのバックエンドのプログラム
* [RT Discord Bot - Frontend](https://github.com/RT-Team/rt-frontend) - RTというDiscordのBotのフロントエンドのプログラム

## Contact
連絡などは遠慮なく以下までお願いします。

* Discord：`tasuren#5161`
* Twitter：[tasuren1](https://twitter.com/tasuren1)
* E-Mail：tasuren5@gmail.com
{% endfilter %}
{% endblock %}
