{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
# tasurenのプロフィール
プログラミングやゲームが好きな高校一年生学生です。
最近結構プログラミングをするようになった。
いろいろなものを作るのを楽しんでいくつもりでいる。
なお女の子好きでよくやばいやつと言われる。(天然とも言われる。)
なるべく大人な対応ができるようにしたいと思っている。

## Links & Addresses
* Discord - `tasuren#5161`
* Mail - tasuren5@gmail.com, tasuren@aol.com, tasuren@outlook.jp
* Twitter - [@tasuren1](https://twitter.com/tasuren1)
* YouTube - [tasuren](https://www.youtube.com/channel/UCHAumff8r8ZFnRpABLoQSnQ)

{% endfilter %}
{% endblock %}
