{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
# tasurenのサービス一覧
### RT
DiscordのBotです。
多機能系Botです。
読み上げやセルフBot対策になる認証、いつも下に来るメッセージなど色々できます。
基本このBotだけで大丈夫そうなBotを目指しています。
現在書き直し中で全然バグがありアプデが滞っています。(もうちょっと待ってね)
[RTの詳細を見る](https://rt-bot.com/)
{% endfilter %}
{% endblock %}
