<!DOCTYPE html>
<html lang="ja" theme="dark">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>^^ self.ctx.title ^^</title>
    <meta name="description" content="^^ self.ctx.description ^^">
    <meta name="author" content="tasuren">
    <meta name="theme-color" content="#0d0015">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <!-- Assets -->
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js"></script>
    <script>
      // 外部リンクを`target=_blank`にして新しいタブで開くようにする。
      window.onload = function () {
        let url;
        for (element of document.getElementsByTagName("a")) {
          url = element.getAttribute("href");
          if (!url.startsWith(window.location.origin) && url.startsWith("http"))
            element.setAttribute("target", "_blank");
        };
      };
    </script>
    <!-- Other -->
    ^^ self.ctx.head ^^
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="background-for-text">
          <div class="title">tasurenの部屋</div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile.html">Profile</a></li>
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="/blog.html">Blog</a></li>
          </ul>
        </div>
      </nav>
      <div class="content"><div class="background-for-text">^^
        additional = ""
        if self.output_path.parent.name != self.manager.config.output_folder \
            and self.output_path.stem != "index":
          additional = '<a href="/{}">戻る</a><hr>'.format(
            self.manager.remove_local_folder_path(self.output_path).parent
          )
        "{}\n{}".format(additional, self.content)
      ^^</div></div>
    </div>
  </body>
</html>