<!DOCTYPE html>
<html lang="ja" theme="dark">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>^^ self.ctx.title ^^</title>
    <meta name="description" content="^^ self.ctx.description ^^">
    <meta name="author" content="tasuren">
    <meta name="theme-color" content="#170000">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <!-- Assets -->
    ^^
      '''
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/black-metal-immortal.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
      <script>
        // コードブロックの配色を行う。
        window.addEventListener("load", function (_) {
          var code; var index; var language;
          for (let element of document.getElementsByTagName("pre")) {
            code = element.lastElementChild;
            code.classList.add("hljs");
            if (code.innerText.indexOf("!(") == 0) {
              language = code.innerText.slice(2, code.innerText.indexOf(")\\n"));
              code.innerHTML = code.innerHTML.replace(`!(${language})\\n`, "");
              code.classList.add(`language-${language}`);
            };
          };
          hljs.highlightAll();
        });
      </script>
      ''' if "pre>" in self.content and "code>" in self.content else "" ^^
      <link rel="stylesheet" href="/assets/main.css^^ self.last_updated ^^">
    <script>
      // 外部リンクを`target=_blank`にして新しいタブで開くようにする。
      window.addEventListener("load", function (_) {
        let url;
        for (element of document.getElementsByTagName("a")) {
          url = element.getAttribute("href");
          if (!url.startsWith(window.location.origin) && url.startsWith("http"))
            element.setAttribute("target", "_blank");
        };
      });
    </script>
    <!-- Other -->
    ^^
    if self.ctx.is_article:
      self.insert_head(
        '<script src="/assets/articles/page.js%s" type="module"></script>'
          % (self.last_updated,)
      )
    self.ctx.head ^^
  </head>
  <body>
    <div class="container">
      <nav id="left">
        <div class="background-for-text">
          <div id="title">tasurenの部屋</div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile.html">Profile</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/articles">Articles</a></li>
          </ul>
        </div>
        <br>
        <div class="background-for-text" hidden>
        </div>
      </nav>
      <div class="content" id="right"><div class="background-for-text"><div id="main">^^
        # サムネイルが設定されている場合は、そのサムネイルを付ける。
        if self.ctx.thumbnail is not None:
          self.content = '<img class="thumbnail" src="{}" />{}'.format(self.ctx.thumbnail, self.content)

        # 最終更新日を入れる。
        additional = ""
        if self.ctx.is_article:
          additional = '{}<div class="text-left"><a href="{}">{}</a></div>{}'.format(
              '<div class="frame">', f"./index.html?page={self.ctx.page}", "戻る",
              '<div class="text-right" id="datetime"><em>Published at: %s</em> '
              '<br class="sp-only"><em>Revised at: %s</em></div></div>'
                % (self.ctx.published_at, self.ctx.revised_at)
            )

        if self.ctx.published_at is not None and self.ctx.revised_at is not None:
          # 戻るを付ける。
          additional = '%s<div class="frame"><div class="text-left"></div>' \
            '<div class="text-right" id="hashtags"></div></div>' % additional

        if self.ctx.is_article:
          # もしタイトルがあるなら自動で付ける。
          self.content = '<h1>{}</h1>{}'.format(
            self.ctx.title, self.content
          )

        if additional:
          additional = f"{additional}<hr>"

        f"{additional}{self.content}"
      ^^</div><br id="sub-pad"><div id="sub"></div></div></div>
    </div>
    <div id="tags" data-tags="^^
      if self.ctx.is_article:
        return ','.join(self.ctx.tags) ^^" hidden></div>
  </body>
</html>