{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
# tasurenのプロフィール
## 好きなこと
パソコンでよくプログラミングをしている。
あとゲームも結構好き。
古いゲームが好きで古いのを少し多く持っている。(僕から見たら少し多く持っている。)
星のカービィとか好きです。
### 好きなゲーム
* 星のカービィ
* マリオ
* ヨッシーのたまご と ヨッシーのクッキー
* ソニック
* Minecraft (主にPvP)
* UNDERTALE
* Geometry dash
* 君の目的はボクを殺すこと
* クッキーラン
* 地球防衛軍 (Docomoの紫色のちょい分厚いスマホに元から入ってたやつ)
* 学校を作ろう！ (初代プレステ)
* 絶体絶命都市
* ときめきメモリアル
* Gimmick! (持ってない,欲しい)

ぶっちゃけあんま珍しいのやってない。
### プログラミング
Pythonというプログラミング言語をすごくやっており最近はC#を勉強している。
↑Rustとかもできるようになりたい。

* Python
* C言語 (少しだけ, C#かC++やりたくてとりあえずC言語やってけばやりやすいかなって思って。(?))
* C# (勉強中)
* Rust (勉強中)

DiscordのBotとか作ってる。
### 好きな音楽
ありすぎておさまらない。

* [Cursed Cathedral (New Super Mario World 1(改造マリオ))](https://www.youtube.com/watch?v=Y4njrmwLR_M) - 中毒性あり, 雰囲気最高
* [vs マルク (星のカービィ SDX)](https://www.youtube.com/watch?v=SU8Z09JYdyM) - 中毒性あり, すごい好き
* [バタービルディング (星のカービィ 夢の泉の物語)](https://www.youtube.com/watch?v=q3RcfrR6zQI) - すごい好き, 名曲  
  (↑星のカービィ64の雲の上でっていうタイトルのアレンジ版も結構好き。)  
  (↑これをピアノでひいたっていう人がいてその人の好き。([これ](https://www.youtube.com/watch?v=4qdcEpjrUGE))(最高))  
* [レインボーリゾート (星のカービィ 夢の泉の物語)](https://www.youtube.com/watch?v=7dnVcKSqxU8) - 雰囲気がすごい好き, 感動, 名曲  
  (↑正確な曲名はには夢と寒冷地の面?)  
* [Cloudy Park (星のカービィ2)](https://www.youtube.com/watch?v=fM-ez_-5rQs) - 雰囲気がすごい好き, 感動, 名曲
* [愛して 愛して 愛して](https://www.youtube.com/watch?v=KxNOBCyGhnk) - 好き
* [Never Gonna Give You Up](https://www.youtube.com/watch?v=dQw4w9WgXcQ) - 好き
* [Night In Tokyo Pt. II](https://www.youtube.com/watch?v=9p8L79qhLsI) - ノリノリになれる, Funky, 名曲
* [Soda City Funk](https://www.youtube.com/watch?v=zhIScvlFn2w) - いい, Funky
* [What's a Future Funk?](https://www.youtube.com/watch?v=PbX5zPTfPXU) - いい, Funky
* [At the Speed of Light](https://www.youtube.com/watch?v=1Zrq8FiKS6A) - 中毒性あり, 爽快, 最高, 名曲
* [Daisuke](https://www.youtube.com/watch?v=XUV863a1Lok) - 中毒性あり, DAISUKE!, 名曲
* [小さな恋のうた☆](https://www.youtube.com/watch?v=-46c7_St0Gw) - ごめんなさい原曲よりMADのほうが好きなんです。
* [The Show Must Go On](https://www.youtube.com/watch?v=t99KH0TR-J4) - なんか好き
* [Freedom DiVE↓](https://www.youtube.com/watch?v=OI3C9qQlb1U) - 爽快で気持ちい, 中毒性あり, 作業におすすめ
* [It's been so long](https://www.youtube.com/watch?v=gk-aCL6eyGc) - 音楽が気持ちを表現しててなんかすごいはまる。(?), 名曲
* [ヤツメ穴](https://www.youtube.com/watch?v=C9PFVo1FEwU) - 不思議, なんかはまる
* [Set Them Free](https://www.youtube.com/watch?v=PhQ1X2KwMY0) - ドラムが良い！, あとなんかいい
* [夏色のナンシー](https://www.youtube.com/watch?v=-ugRY9AKAf0) - なんか好き, 古い

やばいなるべく少なく書くつもりがめっちゃ書いてしまった。
あと[ここ](https://www.youtube.com/playlist?list=PLyz13BBzsS3Iriulggrjc_ao5Ys78yKAl)に基本好きな曲あったら入れるつもり。

## 連絡手段
* Discord - `tasuren#5161`でフレンドリクエストしてね。
* Mail - tasuren5@gmail.com, tasuren@aol.com, tasuren@outlook.jp

## 年齢
現在高校一年生です。
子供です。
できるだけクソガキッズじゃないようにしたいと思っているキッズです。
## まあ
便利なの作りたいと思っている。
{% endfilter %}
{% endblock %}