<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
    <META http-equiv="Content-Style-Type" content="text/css">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <TITLE>{{ title }}</TITLE>
  </HEAD>
  <BODY text="#000000" bgcolor="#99cccc" link="#0000CC" vlink="#990099" alink="#660000" background="/static/wallpaper1.gif">
    <div align="left" style="margin-left:30px">
        <br>
        <br>
        <font size="5">
          {% block content %} {% endblock %}
        </font>
    </div>
    </div>
  </BODY>
</HTML>