@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


/* リセット */
h1 { padding-top: 0; margin-top: 0; }


/* カラーコードの定義。 */
:root {
  --kikuo: #f8f5f7;
  --maretu: #170000;
}

:root {
  --link-color: #5ba2f5;
  --link-color-visited: #8d99c9;
  /* ライトテーマ */
  --color: black;
  --background-color: var(--kikuo);
  --background-color-for-code: #f9f4f1;
}

:root[data-theme="dark"] {
  /* ダークテーマ */
  --color: white;
  --background-color: var(--maretu);
  --background-color-for-code: #191724;
}

body {
  background-color: var(--background-color);
  font-family: 'Zen Kurenaido', sans-serif;
  color: var(--color);
  opacity: 0.85;
}

/* 一般 */
a:link { color: var(--link-color); }
.no-visited-color a:visited { color: var(--link-color) }

.neutral { opacity: 0.7; }

@media (480px < width) { .sp-only { display: none; } }
@media (480px >= width) { .pc-only { display: none; } }

code {
  background-color: var(--background-color-for-code);
  border-radius: 0.4vh;
  padding: 0.3vh 0.4vh;
  font-family: "Source Code Pro", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, monospace;
  opacity: 0.88;
  font-size: 14px;
}

.pointer { cursor: pointer; }

/* 画像の最大の横幅を設定し、はみ出ないようにする。 */
main {
  width: 100%;
}
main img {
  max-width: 100%;
}

/* スマホなど、`ul`の点の左の余白が大きすぎて狭くならないようにするやつ。 */
@media (width <= 768px) {
  .padding-left-override-for-sp {
    padding-inline-start: 10px;
    list-style-position: inside;
  }
}