{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage), *最終更新日:2021/7/14*
* * *
# tasurenの技術倉庫
なにかプログラミングなどに関してメモを置く場所の一覧です。

* [人間をリバースエンジニアリング](/storage/tech/human)
* ~~Python~~ (準備中...)
* [技術倉庫裏](/storage/tech/etc)
{% endfilter %}
{% endblock %}
