---
import { Icon } from "astro-icon/components";

interface Props {
    skills: string[];
}
---

<div class="flex space-x-2">
    {
        Astro.props.skills.map((skill) => (
            <Icon name={`simple-icons:${skill}`} class="size-5 md:size-7" />
        ))
    }
</div>
