---
import Head from "@components/head/This.astro";
import Body from "@components/body/This.astro";

import "../styles/global.css";

const { metadataHtml, title, description, useHljs } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
  <Head title={title} description={description} useHljs={useHljs} />
  <Body metadataHtml={metadataHtml}><slot /></Body>
</html>