---
import Head from "@components/head/Self.astro";
import { Props as HeadProps } from "@components/head/Self.astro";
import Body from "@components/body/Self.astro";

import "../styles/global.css";


interface Props extends HeadProps {};


const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
  <Head title={title} description={description} />
  <Body><slot /></Body>
</html>