{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[戻る](/storage), *最終更新日:2021/7/13*
* * *
# tasurenの日付付き雑用倉庫
ここはtasurenが思ったことなど色々記録したものを置く場所です。
まあ要するにブログページ。

* [2021月7日](/storage/blog/2021-7)
* [2022月1日](/storage/blog/2022-1)
{% endfilter %}
{% endblock %}
